.boton {
    background-color: #6278F7;
    border-radius: 10px;
    padding: 12px 16px;
    border: none;
    color: #ffffff;
    margin: 16px 0;
    cursor: pointer;
}

.boton:hover{
    background-color: #2a2f93;
}