.TableEmployes{
    border: 1px solid #2a2f93;
    border-radius: 4px;
    width: auto;
}

.tableHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.tableHead input{
    text-align: center;
    border: solid 1px var(--moradoOscuro);
    padding: 8px;
}