.navSuperior{
    height: 60px;
}

.fullNav{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.fullNav div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.linkPerfil{
    display: flex;
    align-items: center;
    color: #000000;
}

.linkPerfil:hover{
    background-color: transparent;
}

a{
    text-decoration: none;
    padding: 8px;
}

a:hover{
    background-color: var(--moradoClaro);
}
