.NewEmployee{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: auto;
    border-radius: 16px;
}

.inputGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: inherit;
}

.select{
    min-width: 220px !important;
}